<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 필요한 권한 추가 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 위치 권한 추가 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 추가된 권한 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 권한 추가 -->
    <uses-permission android:name="android.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Todo"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD97ppppHKGHtTDRt1Qz2UJ52-sFX5GgX8" />
        <service
            android:name=".LocationUpdatesService"
            android:exported="false" /> <!-- 서비스는 다른 앱에서 접근할 수 없도록 설정 -->
        <receiver
            android:name=".LocationBroadcastReceiver"
            android:exported="true"> <!-- 외부 앱이 접근할 수 있도록 설정 -->
            <intent-filter>
                <action android:name="LocationUpdate"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmReceiver" />
        <activity android:name=".MapActivity"/>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".ScheduleDetailActivity"/>
        <activity android:name=".AddScheduleActivity"/>
        <activity android:name=".ScheduleListActivity"/>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
